/* Helpdesk FAQ */
.am-helpdesk-faq-list {
  margin-left: 2em;
}
.am-helpdesk-faq-list .am-helpdesk-faq-list-item {
  list-style: decimal;
  padding-bottom: 0.5em;
}

.am-helpdesk-faq-search-result {
  padding-top: 1em;
}

/* Helpdesk */
.am-helpdesk {
  width: 100%;
  display: inline-block;
  text-align: left;
  margin-top: 0.5em;
}
.am-helpdesk h3 {
  text-align: left;
  padding-top: 0;
  margin-top: 0;
}

/* Ticket */
.am-helpdesk-ticket {
  margin-bottom: 0.5em;
}

.am-helpdesk-ticket-header {
  overflow: hidden;
}

.am-helpdesk-ticket-status {
  float: right;
}

.am-helpdesk-ticket-actions-conteiner {
  overflow: hidden;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: #ccc 1px solid;
  margin-top: 0.5em;
}

.am-helpdesk-ticket-actions {
  overflow: hidden;
}

.am-helpdesk-ticket-action {
  display: inline-block;
  padding: 0.5em;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

.am-helpdesk-ticket-action.am-helpdesk-action-active {
  background-color: #dbdbdb;
}

.am-helpdesk-ticket-action-fold-all {
  float: right;
}
.am-helpdesk-ticket-action-fold-all a {
  text-decoration: none;
}

/* Reply Panel */
.am-helpdesk-reply-panel {
  padding: 0.5em;
  background: #dbdbdb;
  display: none;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.am-helpdesk-reply-panel-tools {
  overflow: hidden;
  padding: 0.5em 0;
}

.am-helpdesk-reply-panel-tool {
  float: left;
  padding-right: 0.5em;
}

/* Message */
.am-helpdesk-message {
  margin-bottom: 0.5em;
  border-radius: 10px;
}

.am-helpdesk-message-without-reply.am-helpdesk-message-closed .am-helpdesk-message-header {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.am-helpdesk-message-without-reply {
  border: #ccc 1px solid;
}
.am-helpdesk-message-without-reply .am-helpdesk-message-header {
  background-color: #ccc;
}

.am-helpdesk-message-with-reply {
  border: #ccc 1px solid;
  background-color: #ededed;
}
.am-helpdesk-message-with-reply .am-helpdesk-message-header {
  background-color: #d3dce3;
}

.am-helpdesk-message-comment {
  border: #ccc 1px solid;
}
.am-helpdesk-message-comment .am-helpdesk-message-header {
  background-color: #7bc971;
}

.am-helpdesk-message-header {
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  padding: 0.5em;
  margin: 0;
  overflow: hidden;
}

.am-helpdesk-message-author {
  font-weight: bold;
}

.am-helpdesk-message-author-avatar {
  float: left;
  margin-right: 1em;
}

.am-helpdesk-message-content {
  padding: 0.5em;
  margin: 0;
}
.am-helpdesk-message-content pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 150%;
}

.am-helpdesk-message-attachments {
  margin-top: 0.5em;
}

.am-helpdesk-message-action {
  display: inline-block;
  padding: 0.5em;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

.am-helpdesk-message-action.am-helpdesk-action-active {
  background-color: #dbdbdb;
}

.am-helpdesk-message-action-fold {
  float: right;
}
.am-helpdesk-message-action-fold a {
  text-decoration: none;
}

/* History */
.am-helpdesk-history {
  border-bottom: 1px solid #a1a1a1;
  margin-bottom: 1em;
}
.am-helpdesk-history h1 {
  font-size: 120%;
}

.am-helpdesk-history-content {
  display: none;
}

.am-helpdesk-history-title {
  overflow: hidden;
  margin-bottom: 0.5em;
}

.am-helpdesk-history-title-action {
  float: right;
}
.am-helpdesk-history-title-action a {
  display: block;
  padding-right: 10px;
  background: url("../img/arrow.png") no-repeat center right;
}
